
.shake {
    animation: shake 3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

.title{
    line-height: 1;
}
.subtitle{
    font-weight: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
    color: rgba(162, 162, 162, 0.881);
}

@keyframes shake {

    10%,
    90% {
        color: black;
        font-weight: bold;
    }

    20%,
    80% {
        color: black;
        font-weight: bold;
    }

    30%,
    50%,
    70% {
        color: black;
        font-weight: bold;
    }

    40%,
    60% {
        color: black;
        font-weight: bold;
    }
}